.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 86px;
    font-size: 1.4rem;
    padding: 9px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--white-color);
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;

    &:hover {
        background-color: #ccc;
    }
}
