.wrapper {
    --search-border-radius: 92px;
    --search-button-heigh: 46px;
    --search-button-width: 52px;
    --search-top-spacer: 9px;
    --rgba-background-color: rgba(22, 24, 35, 0.06);
    --rgba-color: rgba(22, 24, 35, 0.42);

    width: 100%;
    height: var(--default-layout-header-height, 60);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
}

.search,
.search-result {
    width: 268px;
}

.search {
    height: var(--search-button-heigh);
    font-size: 1.6rem;
    padding-left: 16px;
    display: flex;
    position: relative;
    border-radius: var(--search-border-radius);
    background-color: var(--rgba-background-color);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black-color);
        height: 100%;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        right: var(--search-button-width);
        top: calc(var(--search-top-spacer));
        height: calc(var(--search-button-heigh) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: var(--rgba-background-color);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 10px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--rgba-color);
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: var(--rgba-color);

    &:hover {
        cursor: pointer;
        background-color: var(--rgba-background-color);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.09);
    }
}

.custom-login {
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.icon-item {
    margin-left: 22px;
}
